body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*? Paralax efekt için height 100% verilir */
  height: 100%;

  /*? tüm sayfa için kullanılacak ayarlar */
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #666666;
}

.background--image1 {
    background-image: url(./img/bg1.jpg);
    min-height: 100%;
  }
  .background--image2 {
    background-image: url(./img/bg2.jpg);
    min-height: 80%;
  }
  .background--image3 {
    background-image: url(./img/bg3.jpg);
    min-height: 80%;
  }
  .background--image4 {
    background-image: url(./img/bg4.jpg);
    min-height: 80%;
  }
  
  .background--image1,
  .background--image2,
  .background--image3,
  .background--image4 {
    /*? Arkaplan resimlerini boyutlandırdık */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    background-attachment: fixed;